{% extends 'base.html.twig' %}

{% block content %}
<section class="intro">
            <h2>Sneakers Hommes</h2>
            <p>Découvrez notre collection exclusive de sneakers pour hommes, des classiques intemporels aux dernières nouveautés. Trouvez la paire parfaite pour compléter votre style.</p>
        </section>

        <section class="product-grid">
            <div class="product">
                <img src="../img/Campus 00s Grey White 1.png" alt="Sneaker Homme 1" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>Campus 00s Grey White</h3>
                    <p>Après la Samba et la Gazelle, adidas met en avant une nouvelle silhouette inspirée du skate et des années 2000.</p>
                    <span class="price"><a>À partir de </a>150€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page1.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/New Balance 2002R Protection Pack Navy 1.png" alt="Sneaker Homme 2" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>New Balance 2002R Protection Pack Navy</h3>
                    <p>Collection très prisée, le Protection Pack est de retour sur le modèle qui l'a fait connaître, la 2002R.</p>
                    <span class="price"><a>À partir de </a>250€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page2.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/New Balance 1906D Protection Pack Silver Metallic 1.png" alt="Sneaker Homme 3" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>New Balance 1906D Protection Pack Silver Metallic</h3>
                    <p>Protection Pack, New Balance présente une nouvelle déclinaison monochrome de la 1906D.</p>
                    <span class="price"><a>À partir de </a>185€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page3.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/Nike Air Max Plus Baltic Blue 1.png" alt="Sneaker Homme 4" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>Nike Air Max Plus Baltic Blue</h3>
                    <p>Nike dévoile une nouvelle déclinaison douce de la Air Max Plus qui sera parfaite aussi bien en hiver qu'en été.</p>
                    <span class="price"><a>À partir de </a>300€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page4.html">En savoir plus</a></button>
                </div>
            </div>
        </section>
{% endblock %}