{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block content %}

        <section class="intro">
            <h2><p><em><strong>Découvrez notre collection exclusive de sneakers MIXTE, des classiques intemporels aux dernières nouveautés.
            <br> Trouvez la paire parfaite pour compléter votre style.</strong></em></p></h2>
        </section>

        <section class="product-grid">
            <div class="product">
                <img src="../img/Campus 00s Grey White 1.png" alt="Sneaker Homme 1" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>Campus 00s Grey White</h3>
                    <p>Après la Samba et la Gazelle, adidas met en avant une nouvelle silhouette inspirée du skate et des années 2000.</p>
                    <span class="price"><a>À partir de </a>150€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page1.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/New Balance 2002R Protection Pack Navy 1.png" alt="Sneaker Homme 2" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>New Balance 2002R Protection Pack Navy</h3>
                    <p>Collection très prisée, le Protection Pack est de retour sur le modèle qui l'a fait connaître, la 2002R.</p>
                    <span class="price"><a>À partir de </a>250€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page2.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/New Balance 1906D Protection Pack Silver Metallic 1.png" alt="Sneaker Homme 3" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>New Balance 1906D Protection Pack Silver Metallic</h3>
                    <p>Protection Pack, New Balance présente une nouvelle déclinaison monochrome de la 1906D.</p>
                    <span class="price"><a>À partir de </a>185€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="../html/page3.html">En savoir plus</a></button>
                </div>
            </div>
            <div class="product">
                <img src="../img/Nike Air Max Plus Baltic Blue 1.png" alt="Sneaker Homme 4" style="width: 369px; height: 369px;">
                <div class="product-info">
                    <h3>Nike Air Max Plus Baltic Blue</h3>
                    <p>Nike dévoile une nouvelle déclinaison douce de la Air Max Plus qui sera parfaite aussi bien en hiver qu'en été.</p>
                    <span class="price"><a>À partir de </a>300€</span>
                    <br>
                    <br>
                    <button class="detail" role="button"><a href="index.php?page=produit?$id">En savoir plus</a></button>
                    <!--recuperer dans la base-->
                </div>
            </div>
        </section>


 <section class="product-grid">
            <div class="product promo">
                <img src="../images/sn1.jpg" alt="Produit 1">
                <div class="product-info">
                    <h3>Produit 1</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€99.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="../images/sn2.jpg" alt="Produit 2">
                <div class="product-info">
                    <h3>Produit 2</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€89.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="../images/Campus 00s Grey White 1.png" alt="Produit 3">
                <div class="product-info">
                    <h3>Produit 3</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€79.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://tse3.mm.bing.net/th?id=OIP._cwFh1oO0b_pT8IgyKA-NwAAAA&pid=Api" alt="Produit 4">
                <div class="product-info">
                    <h3>Produit 4</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€109.99</span>
                </div>
            </div>
        </section>

        <section class="product-grid">
            <div class="product promo">
                <img src="../images/Nike Air Max Plus Baltic Blue 1.png" alt="Produit 1">
                <div class="product-info">
                    <h3>Produit 1</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€99.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://tse2.mm.bing.net/th?id=OIP.KC2LhoPn_KBYBulXwWgYQAHaHa&pid=Api" alt="Produit 2">
                <div class="product-info">
                    <h3>Produit 2</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€89.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://tse2.mm.bing.net/th?id=OIP.zbnTiBtxIIPLCNPRTQ-GYQHaHa&pid=Api" alt="Produit 3">
                <div class="product-info">
                    <h3>Produit 3</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€79.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://tse3.mm.bing.net/th?id=OIP.5X0oJVb2b_ifASV-usfwCQHaHa&pid=Api" alt="Produit 4">
                <div class="product-info">
                    <h3>Produit 4</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€109.99</span>
                </div>
            </div>
        </section>

        <section class="product-grid">
            <div class="product promo">
                <img src="https://th.bing.com/th/id/OIP.XovIo0TZbY5oUHYNBs9iSgHaHa?w=1080&h=1080&rs=1&pid=ImgDetMain" alt="Produit 1">
                <div class="product-info">
                    <h3>Produit 1</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€99.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="../images/New Balance 2002R Protection Pack Navy 1.png" alt="Produit 2">
                <div class="product-info">
                    <h3>Produit 2</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€89.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://th.bing.com/th/id/OIP.KyY6ceMLlQs-_G0GKIvFrwHaHa?w=1069&h=1069&rs=1&pid=ImgDetMain" alt="Produit 3">
                <div class="product-info">
                    <h3>Produit 3</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€79.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://www.credomen.com/pimages/104-05289-1-750-1000.jpg" alt="Produit 4">
                <div class="product-info">
                    <h3>Produit 4</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€109.99</span>
                </div>
            </div>
        </section>



        <section class="product-grid">
            <div class="product promo">
                <img src="../images/sn3.jpg" alt="Produit 1">
                <div class="product-info">
                    <h3>Produit 1</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€99.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://i.pinimg.com/736x/8f/68/6c/8f686c982243a7e8093889373d7d8fcc.jpg" alt="Produit 2">
                <div class="product-info">
                    <h3>Produit 2</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€89.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="../images/New Balance 1906D Protection Pack Silver Metallic 1.png" alt="Produit 3">
                <div class="product-info">
                    <h3>Produit 3</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€79.99</span>
                </div>
            </div>
            <div class="product promo">
                <img src="https://tse2.mm.bing.net/th?id=OIP.WjMwd5xHlMddKgRVuLQiBgHaHa&pid=Api" alt="Produit 4">
                <div class="product-info">
                    <h3>Produit 4</h3>
                    <p>Description rapide du produit.</p>
                    <span class="price">€109.99</span>
                </div>
            </div>
        </section>


{% endblock %}